# PostgreSQL — Neon ou Supabase
DATABASE_URL="postgresql://user:password@host:5432/barbearia_jacob?sslmode=require"

# JWT — gere com: openssl rand -base64 32
JWT_SECRET="troque-por-um-segredo-forte-de-32-bytes"

# App
NEXT_PUBLIC_APP_URL="http://localhost:3000"
